:host {
  display: block;
  padding: 0 0px;
}

input[type="number"],input[type="date"]  {
  border: none;
  border-bottom: 1px solid lightslategrey;
}

input[type="number"]:focus,input[type="date"]:focus {
  border:none;
  border-bottom: 1px solid red;
  outline: none;
}
